body{
    display: flex;
    justify-content: space-around;
}
h1{
    text-align: center;
}
.lista-de-tarefas{
    background-color: bisque;
    padding: 120px;
    max-width: 600px;
    border-radius: 10px;
    display: block;
    align-items: center;
    margin-top: 50px;
}
#adicionar{
    background-color: rgb(63, 88, 201);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#adicionar:hover{
    background-color: #243a49;
    transition: 0.5s;
}
#Add-Task{
    padding: 10px 20px;
    border-radius: 5px;
}
.excluir{
    padding: 6px 12px;
    background-color: rgb(32, 199, 32);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    margin: 2px;

}
.excluir:hover{
    background-color: #243a49;;
    transition: 0.5s;
}
.desfazer{
    background-color: rgb(202, 27, 27);
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 15px;
    margin: 2px;
    border: none;
    color: white;
}
.desfazer:hover{
    background-color: rgb(114, 40, 40);
    transition: 0.5s;
}